# Игнорировать системные файлы Windows
Desktop/
AppData/
NTUSER.DAT
*.log
*.regtrans-ms
# Игнорировать скрытые системные папки
*.ini
*.dat

# Игнорировать IDE и редакторские настройки
.vscode/
.idea/

# Игнорировать временные файлы
*.tmp
*~