.service-card {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    min-height: 310px;
    padding: 50px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
}